<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      <mat-icon>description</mat-icon>
      <span>Gestion Documents</span>
    </div>
    <div class="navbar-links">
      <a *ngFor="let item of navItems" 
         [routerLink]="item.path" 
         routerLinkActive="active"
         [routerLinkActiveOptions]="{exact: false}"
         class="nav-link">
        <mat-icon>{{ item.icon }}</mat-icon>
        <span>{{ item.label }}</span>
      </a>
    </div>
  </div>
</nav>

